@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* paddings responsivos */
  --padding-mobile: 1rem;
  --padding-tablet:1.5rem;
  --padding-desktop: 3rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--nf-sans);
}
@layer components{

  .col-center{
    @apply flex flex-col justify-center items-center;
  }
  .padding-responsive {
    padding-inline: var(--padding-mobile);
  }

  @media (min-width: 768px) {
    .padding-responsive {
      padding-inline: var(--padding-tablet);
    }
  }

  @media (min-width: 1024px) {
    .padding-responsive {
      --max-width: 1350px;
      @apply mx-auto;
      max-width: var(--max-width);
      padding-inline: var(--padding-desktop);
    }
    .padding-responsive-wide {
      --max-width: 1800px;
      @apply mx-auto;
      max-width: var(--max-width);
      padding-inline: var(--padding-desktop);
    }
  }
  /* .padding-responsive{
    padding-inline: var(--padding-mobile);
  }
  @media (min-width: 768px) {
    .padding-responsive{
      padding-inline: var(--padding-tablet);
    }
  }
  @media (min-width: 1024px) {
    .padding-responsive{
      --max-width: 337.5px;
      @apply mx-auto;
      max-width: var(--max-width);
      padding-inline: calc(
        max(0px, (100vw - var(--max-width)) / 2 - var(--padding-desktop))
      );
    }
    .padding-responsive-wide{
      --max-width: 450px;
      @apply mx-auto;
      max-width: var(--max-width);
      padding-inline: calc(
        max(0px, (100vw - var(--max-width)) / 2 - var(--padding-desktop))
      );
    }
  } */
  .header{
    @apply z-60 fixed top-0 left-0 right-0 bg-background shadow-md w-full transition-transform duration-300 ease-in-out;
  }
  .main-header{
    @apply z-70 py-10 flex justify-between items-center h-15;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.main-header {
  @apply z-70 flex justify-between items-center h-15;
}